<app-navbar></app-navbar>

<div class="container">
    <div class="row card card-cascade narrower">
        <div _ngcontent-c4="" class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        
          <a _ngcontent-c4="" class="white-text mx-3" href="">Menu</a>
        
          <div _ngcontent-c4="">
            <button _ngcontent-c4="" class="btn btn-outline-white btn-rounded btn-sm px-2" type="button"  routerLink="/dodajTresc"><i _ngcontent-c4="" class="fa fa-plus"></i> Dodaj menu</button>
          </div>
        
        </div>
        <div class="col-lg-2">
            <table class="table table-hover">
                <tr *ngFor="let i of menuLista">
                    <td><a routerLink="/content-2/{{i.menu_id}}">{{i.menu_name}}</a></td>
                </tr>
            </table>
        </div>
        <div class="col-gl-10">
          
        </div>
    </div>
</div>
