<br>
<ul class="menuPages">
    <li *ngFor="let i of menu">
        <div class="row" style="border:none; font-size:14px; margin-bottom:0px; border-bottom: 1px black dotted; width:90%; font-weight:bold;">
            <div class="col-xs-9">
                <a (click)="otworzMenu(i.page_id,i.page_name_url)" style="color: #111111;">{{i.page_name}}</a>
            </div>
            <div class="col-xs-3" style="font-size:12px;">
                <i class="fa fa-trash" aria-hidden="true" style="color:red; cursor:pointer" mdbRippleRadius mdbTooltip="Usuń stronę" placement="bottom" (click)="delete.show();deletePagesId(i.page_id)"></i>
                <i class="fa fa-caret-right" aria-hidden="true" style="cursor: pointer;" mdbRippleRadius mdbTooltip="Przesuń poziom niżej" placement="bottom" (click)="positionNodeDown(i.page_id)"></i>
                <i class="fa fa-caret-down" aria-hidden="true" style="cursor: pointer;" mdbRippleRadius mdbTooltip="Przesuń niżej" placement="bottom" (click)="positionDown(i.page_id)"></i>
                <i class="fa fa-caret-up" aria-hidden="true" style="cursor: pointer;" mdbRippleRadius mdbTooltip="Przesuń wyżej" placement="bottom" (click)="positionUp(i.page_id)"></i>
            </div>
        </div>
        <div class="row">
            <app-sub-pages [parent]="i.page_id" [level]="1" (changesMenu)="odswiezMenu()"></app-sub-pages>
        </div>
    </li>
</ul>
<div mdbModal #delete="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Usuń</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="delete.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Czy na pewno usuną stronę?</p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" (click)="deletePages();" mdbRippleRadius >Tak</a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="delete.hide()" mdbRippleRadius>Nie</a>
            </div>
        </div>
    </div>
</div>