<app-navbar></app-navbar>
<div class="container">
     <div class="row card card-cascade narrower">
            <div  class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
                <a class="white-text mx-3" href="">Kontrahenci</a>
                <div>
                    <button class="btn btn-outline-white btn-rounded btn-sm px-2" type="button"  routerLink="/dodajPrzychod"><i class="fa fa-plus"></i> Dodaj kontrahenta</button>
                </div>
            </div>
            
             <br>
             
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:10%">#</th>
                                    <th style="width:30%">Nazwa</th>
                                    <th style="width:15%">Ulica</th>
                                    <th style="width:15%">Miejscowość</th>
                                    <th style="width:10%">Telefon</th>
                                    <th style="width:10%">Dostawca</th>
                                    <th style="width:10%">Odbiorca</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let kontrahent of kontrahenci| paginate: { itemsPerPage: 5, currentPage:  page }; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{kontrahent.Name}}</td>
                                    <td>{{kontrahent.Street}}</td>
                                    <td>{{kontrahent.miejscowosc}}</td>
                                    <td>{{kontrahent.telephone}}</td>
                                    <td>{{kontrahent.dostawca}}</td>
                                    <td>{{kontrahent.odbiorca}}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <pagination-controls (pageChange)="page = pageChanged($event)"  directionLinks="true"  previousLabel="Poprzednia" nextLabel="Następna" autoHide="true" class="pagination" style="widtH:50%; margin: auto;"> </pagination-controls>
                    </div>
                </div>
            </div>
    </div>
</div>
 


